@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.img-indi{
    overflow-x: scroll;
}
body {
  font-family: "Noto Sans", sans-serif;
}

.img-indi button{
  border: none;
  padding: 5px;
}
.img-indi::-webkit-scrollbar{
    display: none;
}
.res_image {
  width: 400px;
}
.overlay_text{
  position: absolute;
  top: 100px;
    right: 10%;
}
.navbar-toggler-icon {
    background-image: none!important;
    background-color: transparent;
    height: 3px;
    width: 25px;
    margin: 10px 0;
    position: relative;
    transition: all 0.35s ease-out;
    transform-origin: center;
  }
  
  .navbar-toggler-icon::before {
    display: block;
    background-color: white;
    height: 3px;
    content: "";
    position: relative;
    top: 5px;
    transition: all 0.15s ease-out;/*taken down to hide quicker*/
    transform-origin: center;
  }
  
  .navbar-toggler-icon::after {
    display: block;
    background-color: white;
    height: 3px;
    content: "";
    position: relative;
    top: 18px;
    transition: all 0.35s ease-out;
    transform-origin: center;
  }
  
  .navbar-dark .navbar-toggler-icon,
  .navbar-dark .navbar-toggler-icon::before,
  .navbar-dark .navbar-toggler-icon::after {
    background-color: white;
  }

.about_card{
  margin-left: 0px;
}
  @media screen and (min-width: 993px) {
    .about_card{
      margin-left: -100px;
    }
  }

/* Custom CSS for responsive design and equal card heights */
.card {
  height: 100%;
  align-items: normal;
  /* Add this line */
}
@media (max-width: 769px){
  .res_image {
    width: 200px;
  }
  .overlay_text{
    position: absolute;
    top: 2%;
      left: 5%;
    width: 100%;
  }
}


.glass{
  background: rgba( 0, 0, 0, 0.75 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 0px );
-webkit-backdrop-filter: blur( 0px );

}
  
.scrolling-navigation {
  background-color: rgba( 0, 0, 0, 0.75 );
  position: absolute;
  bottom: 0;
  z-index: 10;
  overflow: hidden;
}
.slider:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.carousel-indicators button {
  display: inline-block;
  margin: 10px;
  text-indent: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #0000ff;
  color: #0000ff;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}



